
.schoolcard_container{
    max-width: 200px;
    display: flex;
    flex-direction: column;
    padding: 0.4rem;
    height:fit-content;
    background-color:#FAFAFA;
    gap: 0.3rem;
    height: max-content;
    border-radius: 10px;
    text-align: center;
    box-shadow:rgba(116, 115, 115, 0.527) 0.01rem 0.06rem 0.2rem ;

}
.schoolcard_container:hover{
    cursor: pointer;
    background-color:#f0feef; ;
}

.schoolpic img{
    object-fit: cover;
    height: 130px;
    width: 90%;
    border-radius: 10px;
}