.sh_wrapper{
    padding: 0.3rem;
    gap: 0.7rem;
    margin:0.2rem;
    display: flex;
    flex-direction: column;
}
.sh_wrapper .sh-profiles{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: rgb(80, 207, 80) solid 1px;
    border-radius: 0.3rem;
    padding: 0.5rem;
    width: fit-content;
    margin: 0.2rem auto;
   
}
.sh_wrapper .sh-profiles .img_wrapper img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 0.3rem;
}
.sh_wrapper .content,.sh-container,.sh-tab_container,.sh-tab_content,.content-wrapper{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.sh-container{
    background-color: white;
    border-radius: 0.3rem;
    padding: 0.5rem;
}
.sh-tab_container{
    gap: 0.2rem;
    padding: 0.1rem 0.4rem;
}
.sh-tab_heading{
    display: flex;
    gap: 0.3rem;
    color: rgb(166, 162, 162);
    justify-content: space-around;
}
.sh-tab_content{
    gap: 0.5rem;
    width: 85%;
    margin: 0.3rem auto;
    justify-content: center;
}
.sh-tab_content .item,.content-wrapper{
    background-color: rgb(238, 240, 242);
    padding: 0.8rem;
    border-radius: 0.5rem;
}
.sh-tab_content .item:hover{
    background-color: #EAF6EA;
    cursor: pointer;
}
.content-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-style: italic;
}
.content-wrapper .sh-content{
    width: 90%;
    margin: 0.2rem;
    color: rgb(105, 104, 104);

}
.sh-leaders{
    margin: 0.3rem;
    padding: 0.3rem;
    display: flex;
    gap: 0.3rem;
    flex-wrap: wrap;
}
.sh_wrapper .name{
    text-align: center;
    font-style: italic;
    color: rgb(61, 152, 61);
    text-decoration: underline;
}
