/* modal styles */
.login_modal{
    position: absolute;
    top:3.15rem; 
    background-color: #333432c5;
    width: 100%;
    height:100vh;
    padding: 1rem;
    border-radius: 0.2rem;
    margin:0.1rem;
    display: none;
    
}
.login_modal.active{
    display: block;
}

/* form styles */

.form{
    display: flex;
    width: 60%;
    min-width: 200px;
    max-width: 400px;
    margin: 1rem auto;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem 0.5rem;
    border-radius: 0.5rem;
    background-color: white;
    justify-content: center;
    align-items: center;
    animation-name: form_animation;
    animation-duration: 1s;
    
}
.close_button{
    position:relative;
    left: 40%;right: 0px; top: 5px;
    color: #158C36;
    cursor: pointer;
    font-size: medium;
}
.close_button:hover{
    color: rgb(232, 61, 9);
}

/* form elements*/

.login_form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 80%;
    font-style: italic;
    font-weight: 200;
}
.title{
    font-size: medium;
}
.form_elements{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
label{
    font-weight: 400;
}
input{
    border: solid #158C36 1px;
    background-color: #D9D9D9;
    height: 1.7rem;
    border-radius: 0.3rem;
    font-size: 0.6rem;
    padding: 0.3rem;
}
button{
    padding: 0.6rem;
    background-color:#008000 ;
    color: white;
    border-radius: 0.5rem;
    box-shadow: none;
}

/*@ key frames */

@keyframes form_animation {
    from{
        opacity: 0;
        transform: translate(0px , -50px) ;
        transition: translate 500s , opacity 1s;
    }
    to{
        opacity: 1;
        transform: translate(0px);
        transition: translate 500s , opacity 1s;
    }
}