.landing-container{
    position:relative;
    width: 100vw;
    height: 100vh;
   
}
.landing-container img{
    width: 100vw;
    height: 95vh;
    object-fit: cover;
}
.hero-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center;
    justify-content: center; */
    gap: 0.8rem;
    background-color: rgba(45, 37, 37, 0.484);
    width: 100vw;
    height: 95vh;
    position: absolute; top:0;
    color: white;
}
.l-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    font-size: 1.6vw;
}
.l-heading .logo1{
    display:flex;
    gap: 0.6rem;
    align-items: center;
}
.l-heading .logo1 .right{
    width: fit-content;
  
}
.l-heading .logo1 img{
    width: 40px;
    height: 50px;
    object-fit: fill;
}
.lcontent {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

}
.lcontent  h1{
    font-size: 3.2vw;
    font-family: Trebuchet;
    /* text-align: center; */
}
.lcontent p{
    /* width: 90%; */
    font-size: 1.8vw;
    margin: 0.2rem auto 2rem auto;
}
.home-btn{
    display: flex;
    gap: 0.4rem;
    align-items: center;
    cursor: pointer;
}
.l-btn{
    display: flex;
    gap: 0.5rem;
    text-align: center;
    width: fit-content;
    margin: auto;
    cursor: pointer;
}
.l-btn span{
    background-color: rgb(13, 191, 13);
    color: rgba(255, 255, 255, 0.701);
    padding: 0.3rem 0.9rem;
    border-radius: 0.5rem;
}
.login_modal{
    background-color: #33343239;
    top:3.8rem; 
    height: 95vh;
}
/* .about{
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    width:85%;
    padding: 0.4rem;
    margin: 0.3rem auto;gap:0.5rem;
    align-items: center;
    justify-content: center;
    background-color: rgb(242, 246, 250);
    border-radius: 0.5rem;
    box-shadow: inset;

}
.about img{
    width: 250px;
    height: 200px;
    object-fit: cover;
   
  
}
.about .content{
width: 50%;
  flex: 1 1fr 30%;
} */
@media (max-width:555px) {
    .l-heading{
        font-size:0.9rem;
    }
    .lcontent  h1{
        font-size: 1.2rem;
    }
    .lcontent  p{
        font-size: 0.9rem;
    }
    
}
