.home_container{
    padding: 0.2rem;
    margin: 0.1rem;
}
.slider_wrapper{
    width:100%;
}

/* profile and calender wrapper*/
.profile_wrapper{
    display: flex;
    gap:0.3rem;
    margin: 0.3rem ;
    align-items: center;
    justify-content: center;
    max-height: fit-content;
}

/*profile*/
.profile{
    padding: 0.1rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    /*justify-content: center;*/
    align-items: center;
}
.profile .title{
    font-size: 0.7rem;
    font-family: Helvetica;
    text-align: center;
    color: rgb(5, 164, 5);
    text-decoration: underline;
}

.profile img{
    padding: 0.3rem;
    max-width: 100px;
    width: 100%;
    border-radius: 10px;
}
.profile .content{
    display: flex;
    flex-direction: column;
    gap: 0.15rem;
}
/*calender optimization of datepicker css */
.calendar{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    align-items: center;
    text-decoration: underline;
    color: green;
}
.react-datepicker {
    z-index: -2;
}
.react-datepicker__header{
    background-color:#EAF6EA ;
}
.react-datepicker__current-month{
    font-size: 0.8rem;
    color: green;

}
.react-datepicker__day{
    font-size: 0.6rem;
}
.react-datepicker__day-name,.react-datepicker__day{
    width: 1.2rem;
    line-height: 1.2rem;
    margin: 0.15rem;
    color: rgb(13, 43, 13);
}
.react-datepicker__day--keyboard-selected:hover{
    color:white;
    background-color: rgb(52, 123, 52);
}

.react-datepicker__day--keyboard-selected{
    background-color:#b712a1;
    color: white;
}
@media (min-width:768px) {
    .react-datepicker{
        width: 100%;
    }
}
