/* header sections */
.chats_container{
    background-color:#F6F6F7;
    display: flex;
    border-radius: 0.7rem;
    flex-direction: column;
    padding: 0.6rem 0.3rem;
    margin: 0.7rem 0.3rem;
    gap: 0.3rem;
}
.chat-header{
    padding: 0.2rem;
    display: flex;
    justify-content: space-between;
    gap: 0.7rem;
    font-style: italic;
}
.chat-header .left{
    display: flex;
    gap: 0.3rem;
}
.chat-header .left img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.chat-header .left .sub-heading{
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}
.chat-header .left .sub-heading .time{
    color: grey;
    font-size: 0.7rem;
}
.chat-header .name{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    
}
.icon{
    cursor: pointer;
}

/* body / content section */
.chats_container .content{
    width: 87%;
    margin: 0.2rem auto;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}
.chats_container .content .pp-reactions{
    display: flex;
    flex-direction: column;

}
.chats_container .content .pp-reactions .emojis{
    font-size: larger;
}
.chats_container .content .pp-reactions .pics{
    display: flex;
    gap: 0.4rem;
    align-items: center;

}
.pics img{
    width: 25px;height: 25px;
    object-fit: cover;
}
/* people reaction section */
.react{
    margin-top: 0.4rem;
    display: flex;
    justify-content: space-between;
}
.react .share{
    font-size: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.react .share span {
    margin: 0.4rem;
}

/* write a comment (bottom)*/
.comment-box{
    display: flex;
    border: solid rgb(53, 245, 53) 1px;
    height: 30px;
    overflow-y: hidden;
    border-radius: 0.5rem;
    justify-content: space-around;
    background-color: white;
    align-items: center;
    padding: 0.3rem;   
}
.comment-pp img{
    width: 25px;
    height: 25px;margin-top: 6px;
    object-fit: cover;
    border-radius: 50%;
}
.comment-box input{
    border: none;
    outline: none;
    margin: 0;
    width: 79%;
    margin: 0.2rem;
    background-color: white;
}
.chats_container .content .icons{
    color: rgb(25, 163, 25);
    font-size: 1.1rem;
    font-weight: bold;
}
.send-btn{
    font-size: 0.8rem;
    color: rgb(25, 163, 25);
}