/* header sections */
.chats_container{
    background-color:white;
    display: flex;
    border-radius: 0.7rem;
    flex-direction: column;
    padding: 0.6rem 0.3rem;
    margin: 1.5rem 0.3rem;
    gap: 0.9rem;
    font-size: 0.95rem;
    position: relative;
    box-shadow: 0.1rem 0.1rem 1.2rem rgba(128, 128, 128, 0.073);
}
.chat-header{
    padding: 0.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.7rem;
    font-style: italic;
   
}
.chat-header .left{
    display: flex;
    gap: 0.3rem;
}
.chat-header .left img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.chat-header .left .sub-heading{
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}
.chat-header .left .sub-heading .time{
    color: grey;
    font-size: 0.7rem;
}
.chat-header .name{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    
}
.chat-header .right{
    display: flex;
    flex-direction: column;
    color: green;
    font-size: 0.9rem;
    cursor: pointer;
  
    
}
.chat-header .right .actions-p{
    display: none;
    color: grey;
    font-style: normal;
    flex-direction: column;
    gap: 0.4rem;
    background-color: white;
    box-shadow:rgba(116, 115, 115, 0.527) 0.01rem 0.06rem 0.2rem ;
    border-radius: 0.2rem;
    padding: 0.7rem;
    position: absolute;
    right: 15px;top: 26px;
    
}
.chat-header .right .actions-p span{
    background-color: rgb(228, 254, 228);
    padding: 0.1rem 0.6rem;
    box-shadow:rgba(116, 115, 115, 0.527) 0.02rem 0.15rem 0.1rem ;

}
.chat-header .right .actions-p span:hover{
    box-shadow:rgba(116, 115, 115, 0.527) 0.01rem 0.04rem 0.1rem ;
    color: green;
}

.chat-header .right .actions-p.active{
    display: flex;
}


.icon{
    cursor: pointer;
}

/* body / content section */
.chats_container .content{
    width: 95%;
    margin: 0.2rem auto;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}
.chats_container .content .pp-reactions{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;

}
hr{
    width: 100%;
    color: grey;
}
.chats_container .content .pp-reactions .emojis{
    display: flex;
    gap: 0.2rem;
    align-items: center;
}
.emoji{
    font-size: 0.9rem;
}
.chats_container .content .pp-reactions .pics{
    display: flex;
    gap: 0.2rem;
    align-items: center;

}
.pics img{
    width: 20px;height: 20px;
    border-radius: 50%;
    object-fit: cover;
}
/* people reaction section */
.react{
    margin-top: 0.4rem;
    display: flex;
    justify-content: space-between;
}
.react .share{
    font-size: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.react .share span {
    margin: 0.4rem;
}

/* write a comment (bottom)*/
.comment-wrapper{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}
.comment-box{
    display: flex;
    border: solid rgb(53, 245, 53) 1px;
    height: 30px;
    overflow-y: hidden;
    border-radius: 0.5rem;
    justify-content: space-around;
    background-color: white;
    align-items: center;
    padding: 0.3rem;   
}
.comment-pp img{
    width: 25px;
    height: 25px;margin-top: 6px;
    object-fit: cover;
    border-radius: 50%;
}
.comment-box input{
    border: none;
    outline: none;
    margin: 0;
    width: 79%;
    margin: 0.2rem;
    background-color: white;
}
.chats_container .content .icons{
    color: rgb(25, 163, 25);
    font-size: 1.1rem;
    font-weight: bold;
}
.send-btn{
    font-size: 0.8rem;
    color: rgb(25, 163, 25);
}
.r-comments{
    display: flex;
    gap: 0.4rem;
    width: 96%;
    margin: 0.1rem auto;
}
.r-comments img{
    width: 30px;
    height: 30px;
    object-fit: fill;
    border-radius: 50%;

}
.r-content{
    display: flex;
    width: 100%;
    gap: 1rem;
    justify-content: space-around;
    
}