.sports_container{
    grid-template-columns: repeat( auto-fit, minmax(5rem ,1fr));

}
.sport-container{
    margin: 0.3rem;
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sport-container .heading{
    text-align: center;
    font-size: 0.9rem;
}
.sport-wrapper{
    display:flex;
}
.sp-left{
    flex: 1.7;
    background-color: white;
    padding: 0.3rem;
}
.sp-right{
    flex: 1;
}
@media (max-width:480px) {
   
    .sp-left{
        flex: 100%;
    }
    /* .sp-right{
        flex: 100%;
    } */
}
@media (min-width:899px) {
    .sport-container{
        position: relative;
        left: 10.5rem;
        width: calc(100vw - 10.5rem);

    }
}