/* clubs.jsx css styles */
.clubs-wrapper{
    display:flex;
    flex-direction: column;
    gap: 0.2rem;
    margin: 0;
    padding: 0.5rem;
    background-color: white;
}
.clubs-wrapper .heading{
    background-color: #F7F7F7;
    padding: 0.4rem;
    border-radius: 0.5rem;
    font-style: italic;
    font-size: 1rem;
 
}

.clubs-box{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    margin: 0.2rem;
    padding: 0.3rem;

}
.wrapper-con{
    left: 0;
    width: 100vw;
  }
@media (min-width:899px) {
    .wrapper-con{
        position: relative;
        left:8.5rem;
        width: 85.5vw;
        margin: 0.9rem 0.7rem;
    }
    .clubs-wrapper{
        width: 90%;
        margin: auto;
        padding: 1.5rem;
     }
}
@media (min-width:1128px) {
    .clubs-wrapper{
        width: 95%;
        margin: auto;
        padding: 1.5rem;
     }
     .Members_container{
        width:95%;
        margin: auto;
       
    }
     .wrapper-con{
        left:10.5rem;
    }
}