/* clubs.jsx css styles */
.clubs-wrapper, .sports-wrapper,.leaders-wrapper, .schools-wrapper,.p-wrapper{
    display:flex;
    flex-direction: column;
    gap: 0.3rem;
    width: min(100%,95%);
    margin: 0.2rem auto;
    padding: 0.2rem;
    background-color: white;
    border-radius: 0.5rem;
}
.clubs-box{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    margin: 0.2rem;
    padding: 0.3rem;
}
