


/* clubs landing page style */
.cl-heading{
    font-size: 1.2rem;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
}

.clubreg{
    display: flex;
   flex-wrap: wrap;
    gap: 0.4rem;
    width: 95%;
    padding: 0.2rem 0.4rem;
    margin: 0.4rem auto;
    align-content:center;
    align-items: flex-start;
   
}
.clubreg > *{
    flex: 1 1 auto;
}
.clreg-left,.clreg-right{
    flex:1 1 250px;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}


/*clubs profile styles */

.prof-box{
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    width: 95%;
    max-width: 400px;
    margin: auto;
    background-color:white;
    border: solid 1px rgb(50, 194, 50);
    padding: 0.4rem 0.2rem;
    border-radius: 0.2rem;
}
.prof-box .top{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 0.1rem 0.4rem;
}
.prof-box .top img{
    width: 100px;
    height: 100px;
    flex: 1.5;
    border-radius: 0.3rem;
}
.prof-box .bottom{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding: 0.3rem;
}
.prof-box .bottom .wrapper div{
    display: flex;
    justify-content: space-between;
}
.prof-box .bottom .wrapper p{
    width: 90%;
    margin: auto;
}
.prof-content{
    width: 100px;
    display: flex;
    flex: 2;
    flex-direction: column;
    gap: 0.1rem;
}


/* swiper slider styles */


.mySwiper{
    margin-top: 0.5rem;
}
.swiper-slide{
    background-size: cover;
    background-position: center;
    height: fit-content;
}
.swiper-pagination{
    position: relative;top: 0.3rem;

}
.cl-leaders {
    background-color: white;
    padding: 0.5rem ;
    margin: 0.3rem ;
    border-radius: 0.4rem;
}
.cl-leaders .leaders_wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
    width: 95%;
    justify-content: center;
}

/* awards components styles */

.awards-wrapper{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    background-color: white;
    padding: 0.5rem;
    width: 95%;
    margin:0.5rem auto;

}
.awards{
    display: flex;
    gap: 0.4rem;
    padding: 0.3rem;
    width: 95%;
    align-items: center;

}
.awards img{
    width: 70px;
    height: 90px;
    aspect-ratio: 1;
    object-fit: fill;
}
.awards .awards-content{
    flex: 1.5;
}

/* media queries */

@media (min-width:899px) {
    .clubreg{
        position: relative;
        left:10.5rem;
        width: calc(100vw - 12.5rem);
        margin: 0;
    }
    
}