.appwrapper{
  position: relative;
  top:3.4rem;
  min-height: 100vh;
  height: 100%;
}

.heading{
  font-family: 'Trebuchet MS';
  color: rgb(10, 115, 10);
  text-decoration: underline;
  font-size: 0.8rem;
  padding: 0.3rem;
}
.sub-heading{
  font-family: 'Trebuchet MS';
  color: rgb(28, 125, 28);
  font-size: 0.9rem;

}
input{
  outline: none;
}

.grid{
  position:relative;
  left: 10.7rem; 
  padding: 0.5rem;
  display: grid;
  gap: 1.5rem;
  margin: 0.1rem;
  height: auto;
  background-color: white;
  width: 83%;
  place-items: center;
 
}

/* media queries */

@media (max-width:899px) {
  .appwrapper{
    position: relative;
    top:3.9rem;
  }
  .grid{
    position: relative;
    left:0;
    width: 99%;
    
  }
}
  

