.nav_container{
    position: sticky;
    left: 0;
    margin: 0.5rem 0.2rem;
    bottom: 0;
    top: 0;
}  
.nav-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 87%;
    max-width: 170px;
    background-color: #ebfeebf0;
    border: solid  #4ECB71 1px;
}
.navbar{
    padding: 1rem 1rem;
    margin: 0.4rem 0.1rem;
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
    width: 100%;
    animation-name: navAnimation;
    animation-duration: 0.7s;
    z-index: 100; 
   
}
.nav_item{
    display: flex;
    position: relative;
    flex-direction: row;
    gap: 1rem;
    /* background-color: white; */
    min-width: 100px;
    padding: 0.3rem 0.4rem ;
    align-items: center;
    font-size: 0.9rem;
    font-style: italic;
    color: rgb(39, 36, 36);
   
}
.nav_icons{
    font-size: 1.5rem;
    color: #24B54D;
    
}
.nav_item.active{
    background-color: white;
    color: rgb(29, 72, 29);
}
.nav_item.active i{
    background-color: white;
    color: rgb(29, 72, 29);
    fill: #24B54D;
}
.nav_item.active::before{
    content: "";
    position: absolute;
    left: -1px ;
    top: 0;
    width: 4px;
    height: 100%;
    background: #24B54D;
    border-radius: 0 10px 10px 0;
    margin: 0 0.2rem 0 0;
    transition: all .4s ease-in-out;
}
/*hover*/

.nav_item:hover{
    cursor: pointer;
    background-color:white ;
    color: green;
}
.nav_icons:hover{
    font-size: 1.5rem;
    color: #24B54D;
    fill: green;
    
}

/*media queries */
@media ( max-width : 899px) {
    .navbar{
        border: solid  #4ECB71 1px;
        gap: 0.9rem;
        margin: 0.1rem;
    }
    .nav_container{
        background-color: #434d43a6 ;
        margin:0.15rem 0.1rem;
        padding: 0.1rem 0;
        border-radius: 0.1rem;
        position:fixed;
        top: 3.8rem;;left: 2px;right: 3px;
        width: 100vw;
        display: none;
        z-index: 200;
        height: 100%;
    }
    .nav-wrapper{
        min-width:fit-content;
        margin: 0.2rem 0.1rem;
        height: 90vh;
    }
    .nav_container.open{
       display: block;
       z-index: 900;
        
    }
  
}
/* animation key frames*/

@keyframes navAnimation {
    from{
        opacity:0;
        transform: translate(-10% , 0%);
    }
    to{
        opacity: 1;
        transform: translate(0%);
        transition: opacity 300ms , transform 1s;
    }
}
.navpic{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}