.notice-container{
    margin: 0.2rem;
}
.n-overlay_wrapper{
    position: relative;
}
.n-img img{
    object-fit: cover;
    height: 155px;
    width: 98%;
    margin: 0.1rem auto;

}
.n-overlay{
    text-align: center;
    position: absolute;top:0;
    height: 155px;
    width: 98%;
    margin: 0.1rem auto;
    color: white;
    display: flex;
    font-style: italic;
    gap: 1rem;
    font-size: 1.4rem;
    justify-content: center;
    align-items: center;
    background-color: rgba(16, 21, 16, 0.589);
}
.n-pane{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 95%;
    margin: 0.2rem auto;
}
.icon{
    color: green;
    font-size: 1.4rem;
}
.n-content_container{
    font-size: 0.7rem;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(246, 249, 252);
    padding: 0.7rem;
    align-items: center;
    justify-content: space-around;
    border-radius: 0.3rem;
    box-shadow:rgba(116, 115, 115, 0.527) 0.01rem 0.06rem 0.2rem ;
}
.content-wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
}
.i{
    width:95%;
    color: grey;
    font-size: 0.55rem;
    margin: 0.1rem auto;
}