.searchbtn{
    margin: 0.2rem auto;
    width: 50%;
    min-width: 200px;
    
}
.searchbtn input{ 
    background-color: white;
    height: 1.5rem;
    border-radius: 0.5rem;
    position: inherit;
    width: 100%;
   
    object-fit: cover;



}