/* non member club styles */
.Nb-heading{
    font-size: 1.5rem;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
}

.Nb_container{
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
    width: 100%;
    padding: 0.2rem 0.4rem;
    margin: 0.4rem auto;
    align-content:center;
    align-items: flex-start;
    font-size: 1rem;
   
}
.Nb_container > *{
    flex: 1 1 auto;
}
.Nb-left,.Nb-right{
    flex:1 1 250px;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.prof-box{
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    width: 95%;
    max-width: 400px;
    margin: auto;
    background-color:white;
    border: solid 1px rgb(50, 194, 50);
    padding: 0.7rem;
    border-radius: 0.2rem;
}
.prof-box .top{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0.7rem 0.4rem;
    align-items: center;
}
.prof-box .top img{
    width: 100px;
    height: 130px;
    flex: 1.5;
    border-radius: 0.3rem;
}
.prof-box .bottom .wrapper{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    padding: 0.r5em;
}
.prof-box .bottom .wrapper div{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
.prof-box .bottom .wrapper p{
    width: 80%;
    margin: auto;
}
.prof-content{
    width: 100px;
    display: flex;
    flex: 2;
    flex-direction: column;
    gap: 0.5rem;
}

.mySwiper{
    margin-top: 0.5rem;
}
.swiper-slide{
    background-size: cover;
    background-position: center;
    height: fit-content;
}
.swiper-pagination{
    position: relative;top: 0.3rem;

}
.cl-leaders {
    background-color: white;
    padding: 0.7rem ;
    margin: 0.3rem ;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column ;
    gap: 0.9rem;
}
.cl-leaders .leaders_wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
    width: 95%;
    justify-content: center;
}



.awards-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    background-color: white;
    padding: 0.9rem;
    width: 95%;
    margin:0.5rem auto;
}



@media (min-width:899px) {
    .Nb_container{
        margin: 0.4rem auto;
        width:90%;
    }
}



/* Members page styles */

.mbheader {
    display: flex;
    margin: 0.1rem;
    flex-direction: column;
    gap: 0.2rem;
    background-color: white;
    border-radius: 0.5rem;
}
.mbheader .img{
    width: 100%;
    height:250px;
}
.mbheader .img img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.mbheader .tabs-wrapper{
    display: flex;
    padding: 0.5rem;
    align-items: center;
    margin: 0.2rem;
    color: rgb(24, 77, 24);
}
.tabs-wrapper .tabs{
    padding: 0.1rem 1rem;
}
.tabs-wrapper .tabs.active {
    padding: 0.1rem 1rem;
    background-color: rgb(25, 119, 25);
    color: white;
    border-radius: 0.5rem;
}
.Members_container{
    position: relative;left: 0;
    width: 100vw;
    padding: 0.2rem;
}
.Mb_content-box{
    display: flex;
    height: 150vh;
}
.Mb-left{
    flex: 1;
}
.Mb-right{
    flex: 1;
}

@media (min-width:899px) {
    .Mb-left{
        scroll-behavior: smooth;
        scroll-padding: 0.1rem;
        flex: 1.5;
    }
    .Mb-right{
        flex: 1;
    }
    .Members_container{
        width:90%;
        margin: auto;
       
    }
}
@media (max-width:480px) {
    .Mb-left{
       flex: 100%;
    }
    .Mb-left.active{
        display: none;
    }
    .mbheader .img{
        width: 100%;
        height:130px;
    }
    .mbheader .img img{
        width: 100%;
        height: 130px;
        object-fit: cover;
        aspect-ratio: 16/8;
    }
}
@media (min-width:480px){
    .tabs-wrapper{
        display: none;
    }   
}