.appwrapper{
  position: relative;
  top:3.4rem;
  min-height: 100vh;
  height: 100%;
}

.heading1{
  font-family: 'Trebuchet MS';
  font-family: 'Arial ';
  color: rgb(10, 115, 10);
  padding: 0.3rem;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: underline;
  font-style: italic;
}
.heading2{
  font-family: 'Trebuchet MS';
  color: rgb(28, 125, 28);
  font-size: 1.2rem;
  text-decoration: underline;
  font-style: italic;

}
.heading3{
  font-family: 'Trebuchet MS';
  color: rgb(28, 125, 28);
  font-size: 1rem;
  font-family: 'Arial ';

}
input{
  outline: none;
}

.grid{
  position:relative;
  padding: 0.5rem;
  display: grid;
  gap: 1.5rem;
  margin: 0.1rem auto;
  height: auto;
  background-color: white;
  width: 85%;
  place-items: center;
 
}

/* media queries */

@media (max-width:899px) {
  .appwrapper{
    position: relative;
    top:3.9rem;
  }
  .grid{
    position: relative;
    left:0;
    width: 99%;
    
  }
}
  

