.appwrapper{
  position: relative;
  top:3.4rem;

}

.heading1{
  font-family: 'Trebuchet MS';
  font-family: 'Arial ';
  color: rgb(10, 115, 10);
  padding: 0.3rem;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: underline;
  font-style: italic;
}
.heading2{
  font-family: 'Trebuchet MS';
  color: rgb(28, 125, 28);
  font-size: 1.2rem;
  text-decoration: underline;
  font-style: italic;

}
.heading3{
  font-family: 'Trebuchet MS';
  color: rgb(28, 125, 28);
  font-size: 1rem;
  font-family: 'Arial ';
  font-weight: 300;

}
input{
  outline: none;
}

.grid{
  position:relative;
  padding: 0.5rem;
  display: grid;
  gap: 1.5rem;
  margin: 0.1rem auto;
  height: auto;
  background-color: white;
  width: 85%;
  place-items: center;
 
}
.wrapper-con{
  flex: 1;
  margin: 0.5rem;
  width: min(100%,90%);
}

/* media queries */

.app_container{
  position: relative;
  display: flex;
  gap: 0.1rem;
  padding: 0.4rem;
}
.app_container::-webkit-scrollbar{
  width: 0;
}
@media (max-width:899px) {
  .appwrapper{
    position: relative;
    top:3.9rem;
  }
  .grid{
    position: relative;
    left:0;
    width: 99%;
  }
  .wrapper-con{
    position: relative;
    left:0;
    width: calc(100vw - 11.5rem);
    margin: 0;
  }
}
  

