













:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
::-webkit-scrollbar{
  width:0;
}
body{
  width: min(100%,1440px);
  margin-inline: auto;
  scroll-behavior: smooth;
  scroll-padding: 0.1rem;
}
.link{
  text-decoration: none;
  color: black;
}
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
  overflow-x: hidden;
  font-family: -apple-system, helvetica, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
