/* clubs.jsx css styles */
.clubs-wrapper{
    display:flex;
    flex-direction: column;
    gap: 0.2rem;
    margin: 0.1rem;
    background-color: white;
}
.clubs-wrapper .heading{
    background-color: #F7F7F7;
    padding: 0.3rem;
    border-radius: 0.5rem;
    width: 85%;
    margin: 0.6rem auto 0.1rem auto;
    font-style: italic;
    text-align: center;
}

.clubs-box{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    margin: 0.2rem;
    padding: 0.3rem;

}
