/* modal styles */
.form_modal{
    position: fixed;
    top:3.15rem; 
    right: 0;
    background-color: #33343233;
    width: 100%;
    height:100vh;
    padding: 1rem;
    border-radius: 0.2rem;
    margin:0.1rem;
    display: none;
    z-index: 200; 
    justify-content: center;
    align-items: center;

}

.form_modal.active{
    display: flex;
}

/* form styles */
.form{
    display: flex;
    width: 75%;
    min-width: 250px;
    max-width: 500px;
    min-height: 400px;
    margin: 3rem auto;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem 0.1rem;
    border-radius: 0.5rem;
    background-color: white;
    justify-content: center;
    align-items: center;
    animation-name: form_animation;
    animation-duration: 1s;
    
}
.close_button{
    position:relative;
    left: 40%;right: 0px; top: 5px;
    color: #158C36;
    cursor: pointer;
    font-size: medium;
}
.close_button:hover{
    color: rgb(232, 61, 9);
}

/* form elements*/

.form_components{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 80%;
    font-style: italic;
    font-weight: 200;
    font-size: 1rem;
}
form .title{
    font-size: 1rem;
    color: green;
}
.form_elements{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
label{
    font-weight: 400;
    font-size: 0.9rem;
}
input{
    border: solid #158C36 1px;
    background-color: #D9D9D9;
    height: fit-content;
    border-radius: 0.3rem;
    font-size: 0.9rem;
    padding: 0.3rem;
    outline: none;

}
button{
    padding: 0.3rem 0.5rem;
    background-color:#58ae58 ;
    cursor: pointer;
    color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 0;
    
    border-style: none;
}


/* registration form styles */

.regform-wrapper{
    display: flex;
    flex-direction: column;
    gap: 2.1rem;
    width: 95%;
    margin: 0.6rem auto;
    background-color: white;
    padding: 2rem;
}
.regform-wrapper .inputs{
    display: flex;
    justify-content: space-between;
}
.regform-wrapper .inputs input{
    width: 65%;
}
.regform-wrapper .btn{
    width: fit-content;
    padding: 0.3rem 1rem;
    margin: auto;
}

/* compose form  styles */

.compose{
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
    margin:  auto;
    padding: 0.7rem;
    background-color: white;
    border-radius: 0.4rem;
    max-width: 500px;
}
.cp_heading{
    display: flex;
    justify-content: center;
    padding: 0.9rem  0;
    border-bottom: solid 1px rgb(193, 190, 190);
}
.cp_profile{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 0.5rem;

}
.cp_profile .cp_img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.cp_profile .cp_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cp_profile .cp_data{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

}
.cp_form .c_form{
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    padding: 0.4rem;
    margin: 0.3rem;

}
.c_form textarea{
    border: none;
    padding: 0.5rem;
    outline: none;
    font-size: 15px;

}
.c_form .cp_imgchoose{
    padding: 0.3rem;
    border: solid 1px #cbc8c8;
    border-radius: 0.3rem;
    height: 200px;
    max-height: 250px;

}
.cp_imgchoose .img_input{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    background-color: rgba(224, 216, 216, 0.432);
    padding: 0.9rem;
    border-radius: 0.4rem;
    align-items: center;
    justify-content: center;
    height: 100%;

}
.cp_imgchoose input{
    display: none;
}
.cp_imgchoose img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.img_input .box{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(221, 225, 219);
    padding: 1rem;
    font-size: 30px;
    color: rgb(14, 149, 14);

}
.cp_addons{
    display: flex;
    justify-content: space-around;
    border: solid 1px rgb(212, 212, 212);
    border-radius: 0.3rem;
    padding: 0.9rem;
    font-size: larger;
    align-items: center;

}
.addons{
    display: flex;
    gap: 1.2rem;
    color: rgb(7, 160, 7);
    font-size: 25px;
}
.c_button{
    width: 100%;
    padding: 0.6rem;
    background-color: rgb(16, 148, 16);
    color: white;
    border-radius: 0.4rem;
}
.compose .icons{
    position:absolute;right: 10px;top:10px;
    cursor: pointer;
    background-color: rgb(236, 238, 235);
    border-radius: 50%;
    
}
@media (max-width:480px) {
    .compose{
        width: 95%;
    }
    .c-form{
        width: 99%;
    }
  
}

/*@ key frames */

@keyframes form_animation {
    from{
        opacity: 0;
        transform: translate(0px , -50px) ;
        transition: translate 500s , opacity 1s;
    }
    to{
        opacity: 1;
        transform: translate(0px);
        transition: translate 500s , opacity 1s;
    }
}

/* update form  */
.prof-upt_wrapper{
    padding: 0.3rem;
    margin: 0.3rem;
    border-radius: 0.5rem;
    position: relative;
    width: 85%;
    height: 100%;
    margin: auto 0.5rem;
}
.prof-upt_wrapper .cover-pic{
    position: relative;
    height: 250px;
    border-radius: 0.7rem;
}
.prof-upt_wrapper .cover-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.7rem;
}
.prof-upt_wrapper .camicon{
    position: absolute;
    top: 10px;right: 0.5rem;
    padding: 0.3rem 0.5rem;
    border: solid 1px rgb(141, 247, 109);
    border-radius: 0.5rem;
    color: white;
    font-size: 1.2rem;
    align-items: center;
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    cursor: pointer;
}
.prof-upt_form{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 90%;
    margin: auto;
    position: absolute;
    top: 15rem;
    left: 5%;
}
.prof-upt_form .right-form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.7rem;margin: 0.2em;
    background-color: white;
    border-radius: 0.5rem;
    height: fit-content;
    flex: 1 250px;
 
}
.prof-upt_form .left-form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.7rem;margin: 0.2em;
    background-color: white;
    border-radius: 0.5rem;
    flex: 1.5 300px;
    
}
.form-inputs-wrapper, .prof-inf-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.2rem;
}
.updateForm-wrapper{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding: 0.2rem;
}
.updateForm-wrapper .img{
    display: flex;
    flex-direction: column ;
    position: relative;
    width: fit-content;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.updateForm-wrapper .img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.updateForm-wrapper .img .iconic{
    color: white;
    background-color: rgb(46, 192, 46);
    border-radius: 50%;
    padding: 0.3rem 0.5rem;
    font-size: 1rem;
    position: absolute;
    text-align: center;
    top: 3.7rem;
    right:0;
    cursor: pointer;
   
}

.inputs-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
}
.inputs-upt{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    color: grey;
    flex: 1 90px;
 
}
.inputs-upt input{
    background-color: white;
    border: solid 1px rgba(30, 145, 30, 0.2);
}
.back{
    display: flex;
}
.camicon > input{
    display: none;
}
.iconic > input{
    display: none;
   
}
@media (max-width:899px) {
    .prof-upt_wrapper{
        padding: 0.2rem;
        margin: 0.3rem;
        border-radius: 0.5rem;
        position: relative;
        width: 99%;
        height: 100%;
        margin: auto 0.5rem;
    }
    .prof-upt_form {
        width: 93%;
        top: 11.5rem;
        left: 3.5%;
    }
    .prof-upt_wrapper .cover-pic{
        position: relative;
        height: 180px;
    }
    
}
.social-upt,.skill-upt{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}










